<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean id="authenticateProvider"
		  class="com.meidusa.venus.backend.authenticate.SimpleAuthenticateProvider">
		<property name="useDummy" value="true" />
		<property name="username" value="venus" />
		<property name="password" value="venus" />
	</bean>

	<bean id="serviceFactory" class="com.meidusa.venus.client.VenusServiceFactory" destroy-method="destroy">
		<property name="configFiles">
			<list>
				<value>classpath:conf/applicationContext-venus-client.xml</value>
			</list>
		</property>
		<property name="needPing" value="false" />
		<property name="venusExceptionFactory" ref="venusExceptionFactory"/>
	</bean>
	
	<bean id="venusExceptionFactory" class="com.meidusa.venus.exception.XmlVenusExceptionFactory" init-method="init">
		<property name="configFiles">
			<list>
				<value>classpath:com/meidusa/venus/exception/VenusSystemException.xml</value>
			</list>
		</property>
	</bean>

</beans>
