/*!* reset.css V1.3* Update 2013-11-06*/


/* 閲嶅畾涔夛紝鍖呮嫭HTML5鏍囩 */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {-webkit-text-size-adjust: none;}

html * {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

/* 閬垮厤涓庣紪杈戝唴瀹瑰啿绐�*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

input,
textarea,
select {
    margin: 0;
    padding: 0;
    outline: 0;
}


/* 榛樿瀛椾綋棰滆壊 */


/* 榛樿瀛椾綋 */

body,
button,
input,
select,
textarea {
    font: 16px/1.5 "Sans-serif", "Helvetica Neue", tahoma, arial;
    border: 0;
     -webkit-text-size-adjust: none;
}

body {
    min-width: 320px;
    max-width: 640px;
    min-height: 500px;
    height: 100%;
    margin: 0 auto;
    background:#efeff4;
    color: #2d2d2d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}


/* 閲嶇疆鍒楄〃鍏冪礌 */

ul,
ol {
    list-style: none;
}


/* 閲嶇疆鏂囨湰鏍煎紡鍏冪礌 */
i {
    font-style: normal;
}

s {
    text-decoration: none;
}
a {
    text-decoration: none;
}
a,
i,
img {
    -webkit-touch-callout: none;
}
a:hover {
    text-decoration: underline;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/* 閲嶇疆琛ㄥ崟鍏冪礌 */

fieldset,
img {
    border: none;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

select,
input,
button,
button img,
label {
    vertical-align: middle;
}

input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

input::-ms-clear {
    display: none;
}

input,
button {
    background-image: none;
}

input[type=text],
input[type=password],
textarea {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="button"],
input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: none;
}

/* 娓呴櫎IE10鐨勫弶 */


/* 閲嶇疆琛ㄦ牸鍏冪礌 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 閲嶇疆 hr */

hr {
    border: none;
    height: 1px;
}


/* 娓呮诞鍔╟lear */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}


/*閲嶇疆 img銆乿ideo*/

img,
video {
    max-width: 100%;
    height: auto;
}


* {
    tap-highlight-color: rgba(0, 0, 0, 0);
    focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-focus-ring-color: rgba(0, 0, 0, 0);
}

footer {
    width: 100%;
    color: #9c9c9c;
    font-size: 0.75em;
    text-align: center;
    line-height: 4em;
    margin-top: 10px
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 10%;
    margin-top:-4rem;
    z-index: 201;
    width: 80%;
    height: 4rem;
    border-radius: 0.5rem;
    background: rgba(60, 60, 60, 0.6);
    color: #fff;
    font-size: 1em;
    text-align: center;
    line-height: 4rem;
}

.confirm {
    display: none;
    position: fixed;
    top: 50%;
    left: 10%;
    margin-top:-4rem;
    z-index: 201;
    width: 80%;
    height: 12rem;
    border-radius: 0.5rem;
    background: #fff;
    color: #fff;
    font-size: 1em;
    text-align: center;
}

.confirm table {
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
}
#confirmMsg{
    color:#414141;
}
#confirm tbody tr:last-child{
    border-top: 1px solid #ccc;
}
#confirm tbody tr:last-child td{
    height: 44px!important;
}
#confirm tbody tr:last-child td:first-child{
      border-right: 1px solid #ccc;
}
/***姗欒壊鎸夐挳**/

.confirm-btn {
    display: block;
    width: 80px;
    height: 25px;
    margin: 0 auto;
    border: 0;
    border-radius: 5px;
    color: #007aff;
    font-size: 1em;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.popup {
    display: none;
    position: fixed;
    top: 136px;
    left: 50%;
    z-index: 300;
    width: 80%;
    margin-left: -40%;
    padding: 10px 0;
    border: 1px solid #b4b3b4;
    border-radius: 5px;
    background: #fff;
}

.carPopupPara {
    text-align: center;
    line-height: 3em;
}

.carSelPopup {
    text-align: justify;
    text-align: center;
}

.carSelPopup span {
    display: inline-block;
    width: 45%;
    height: 2.5em;
    background: #f36c0e;
    border-radius: 5px;
    line-height: 2.5em;
    color: #fff;
}

.carSelPopup span.cancel {
    background: rgba(60, 60, 60, 0.6);
}

input,
a,
button {
    outline: none;
}

a,
a:hover,
a:link,
a:visited,
.a:active {
    text-decoration: none
}

.hide {
    display: none
}

a.link-gray,
.link-gray,
.link-gray a {
    color: #232323;
}

a.link-blue,
.link-blue,
.link-blue a {
    color: #0071ff;
}


/***姗欒壊鎸夐挳**/

.btn-orange,
.btn-gray {
    display: block;
    width: 90%;
    height: 44px;
    margin: 0 auto;
    margin-top: 14px;
    border: 0;
    border-radius: 5px;
    background: #347fe9;
    color: #fff;
    font-weight: bold;
    font-size: 1.12em;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 4px;
}

.btn-orange:active {
    background: #f36c0e;
    outline: none
}

.btn-gray {
    background-color: #c1c1c1;
}


/***杩斿洖椤堕儴**/

.backtop {
  position: fixed;
  right: 6%;
  bottom: 30px;
  color: #fff;
  font-size: 1em;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background: rgba(0,0,0,.6);
  border-radius: 50%;
  z-index: 88;
  display:none;
}
.backtop .iconfont{color:#fff;}
/**闂磋窛**/

.mt-10 {
    margin-top: 10px;
}

.plr-30 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-c {
    text-align: center
}




/*璐墿杞�/

.buycar {
    position: fixed;
    right: 8%;
    bottom: 30px;
    z-index: 999;
}

.buycar .buycarfont {
    display: block;
    position: relative;
}

.buycar .buycarfont span {
    color: #ff9a14;
    font-size: 3.6em;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.buycar .buycarfont em {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;
    height: 1.6em;
    background-color: #ff0012;
    font-size: 0.75em;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    border-radius: .8em;
    line-height: 1.6em;
    min-width: 1.6em;
    text-align: center;
    overflow: hidden;
    font-family: "Arial", arial-black;
}


/*add by dyy 2014-09-10*/


.errorTit {
    font-size: 1em;
    color: #232323;
    line-height: 1.4em;
    margin-bottom: 10px;
}


/*-------------loading-----------*/

.loadImg {
    display: none;
    position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
}

.loadImg p {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
}

.loadImg p img {
    vertical-align: top;
}

.btn-bottom {
    display: block;
    width: 100%;
    height: 44px;
    margin-top: 14px;
    border: 0;
    background: #fff;
    color: #ff8903;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

input::-webkit-input-placeholder {
    color: #c6c6cc;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    font-size: 10px;
}
.text-overflow {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

