.curHidden{display:none;}
.tabStyle{border:1px solid #a8ccda;background:#f7ffff;}
.portlet-tabs > .colStyle{padding:0 15px!important;}
ul.tabStyle>li>a:hover,.nav > li > a:focus{background:#e3f4fe;color:#000;}
.tabStyle li{font-size:14px;font-weight:bolder;}
.tabStyle li.active{background:#e3f4fe;}
.portlet-tabs > .tab-content{margin-top:0!important;}
.marginTop{margin-top:20px;}
i.text-danger{position:relative;top:3px;color:#e02222;font-style:normal;font-weight:bolder;}
span.text-danger{color:#e02222;font-weight:bolder;}
.olLineHeight{line-height:26px;}
input.noBorder[readonly], select.noBorder[readonly], textarea.noBorder[readonly]{border:0;background:none!important;cursor:default;} 
.inputBorder{padding-left:10px;border:1px solid #e5e5e5;vertical-align:middle;}
.tableFix{width:100%;table-layout:fixed;}
select.hidden,div.hidden{display:none;}
.modal-content .page-container{margin-top:0;}