#print-modal{width:930px;}
.aside{display:inline-block;padding:7px 14px;font-size:14px;background-color:#0362fd!important;color:#fff !important;outline: none!important;box-shadow:none;font-weight:bolder;border-radius:2px;cursor:pointer;}
.aside a{color:#fff;}
.aside a:hover{text-decoration:none;}
input.borderBottom{display:block;width:100%;border:0;border-bottom:1px solid #ccc;}
input.borderBottom2{display:block;width:90%;border:0;border-bottom:1px solid #ccc;}
table{width:100%;table-layout:fixed;}
table.marginBottom{margin-bottom:20px;}
.marginTop{margin-top:10px;}
table.table-hover>tbody>tr>td.bgGrey{background:#eee;}
table.table-hover>tbody>tr:hover>td.bgGrey{background:#eee;}
.footer{display:none;}
#printContent h2{margin-bottom:20px;}
input{outline:0;}
#preview-area .preview-area-messages{display:none;}
