<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
	<!-- 
	<typeAliases>
		<typeAlias type="com.cango.erp.sp.model.MUser" alias="MUser" />
	</typeAliases>
	<plugins>
		<plugin interceptor="com.cango.erp.sp.persistence.mybatis.support.PageInterceptor"/>
	</plugins>
	<mappers>
		<mapper resource="mappers/m_user.xml"/>
 	</mappers>
	-->
</configuration>